<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SmartVan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <!-- <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header> -->
  
    <ion-card-content>
        <!-- Searchbar with a placeholder -->
          <ion-searchbar placeholder="From"></ion-searchbar>
          <ion-searchbar placeholder="Destination"></ion-searchbar>
          
          <ion-button (click)="onClick()" expand="block" shape="round" color="primary" >
            Search
          </ion-button>

          <ion-button (click)="onClick()" color="warning">
            <ion-icon slot="start" name="heart"></ion-icon>
            Click me
          </ion-button>
          
    </ion-card-content>

  </ion-card>


  
</ion-content>


